<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.demo.dao.dev.DevUserMapper">
	<select id="login" parameterType="Dev_user" resultType="Dev_user">
		SELECT * FROM dev_user WHERE devCode=#{devCode} AND devPassword=#{devPassword}
	</select>
	<insert id="addDevUser" parameterType="Dev_user">
		INSERT INTO dev_user(devCode,devName,devPassword,devEmail,devInfo)
		VALUES(#{devCode},#{devName},#{devPassword},#{devEmail},#{devInfo})
	</insert>
</mapper>
